.table-containerT {
  margin-top: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tableT {
  width: 800px;
  height: 800px;
  border-radius: 20px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(194, 59, 59, 0.1);
}
.table-header-cellT, .table-cellT {
  padding: 15px;
  background-color: rgba(5, 1, 1, 0.438);
  color: #fff;
}
.table-header-cellT {
  text-align: left;
  background-color: #BF1A2F;
}
.table-rowT:hover {
  background-color: rgba(192, 179, 179, 0.925);
}
.table-cellT:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #bbb4b5;
  border-radius: 6px;
}
.left-h2 {
  
  margin-right: 50px;
  }
