.main-div{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(./Qendra-e-Studenteve.png);
    width: 100vw;
    height: 81vh;
    margin-top: 0px;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.ballina-title{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.udhezuesit{
    color: #161616;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    font-weight: bold; 
    padding-left: 20px;
}
.njoftimet{
    border: 1px solid #E3E3E3;
    margin-top: 80px;
    background-color: #E3E3E3;
    padding-left: 110px;
   
}
.njoftimet img{
    margin-right: 150px;
    width: 120px;
}
.njoftimet-p{
    display: flex;
    margin-left: 10px;
}
.njoftimet-p p{
    color:  #BF1A2F;
    font-weight: bold;
    padding-right: 40px;
}
.njoftimet-e-reja-title{
    color: black;
    margin-right: 50%;
    font-weight: bold;
    font-size: 18px;
}
.footeri-home-page {
    margin-top: 50px;
}