.profili-im{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #161616;
    width: 460px;
    height: 340px;
    margin-left: 60px;
    margin-top: 70px;
    position: absolute;
}

.left-black-div{
    border-right: 1px solid black;
    background-color: #161616;
    width: 200px;
    padding-top: 20px;
}
.left-black-div p{
    color: white;
    padding-top: 20px;
}
.right-white-div {
    padding-top: 20px;
}
.right-white-div p{
    color: black;
}
.right-white-div div{
   border: 1px solid #161616;
   height: 26px;
   width: 188px;
   margin: 20px;
   border-radius: 6px;
   display: flex;
   align-items: center;
   background-color: #E3E3E3;
   padding-left: 10px; 
   margin-top: 30px;
}
.profili-h5{
    display: flex;
    margin-left: 90px;
    position: absolute;
    margin-top: 10px;
    color: white;
    margin-left: 56px;
}
.total-students{
    background-color:#BF1A2F ;
    width: 380px;
    height: 200px;
    margin-left: 62%;
    margin-top: 70px;
    position: absolute;
    border-radius: 50px;
}
.left-total-div{
    border-bottom: 3px solid white;
    width: 320px;
    height: 70px;
    margin-top: 60px;
    display: flex;
    padding-left: 20px;
    margin-left: 15px;
}
.img-total{
    width: 60px;
    height: 60px;
}
.left-total-div img {
    padding-left: 70px;
}
.left-total-div div {
    padding-left: 20px;
    font-weight: bold;
}
.img-aplikimet{
    border: 1px solid black;
    margin-top: 40%;
    margin-left: 60px;
    position: absolute;
    background-color: #161616;
    border-radius: 15px;
    font-size: smaller;
    width: 160px;
}
.img-aplikimet img, .img-ankesat img{
    width: 70px;
    padding-top: 14px;   
}
.img-ankesat{
    border: 1px solid black;
    margin-top: 40%;
    margin-left: 360px;
    position: absolute;
    background-color: #161616;
    border-radius: 15px;
    font-size: smaller;
    width: 160px;
}
.img-ankesat p{
    display: flex;
    justify-content: center;
    margin-left: 45px;
}
.img-aplikimet p{
    margin-left: 12px;
}
.konvikti-div{
    border: 1px solid black;
    border-radius: 30px;
    width: 540px;
    margin-left: 57%;
    margin-top: 29%;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #161616;
}
.konvikti-div p{
    color: white;
    font-size: smaller;
}
.konviktet-p p{
    margin-left: 16px;
    margin-top: 14px;
}
.konviktet-gjinia p, .konviktet-fk p{
    border: 1px solid white;
    border-radius: 6px;
    background-color: #E3E3E3;
    color: black;
}


