
  .main-div-aplikimi {
    text-align: center;
    padding: 70px;
  }

  
  .form-aplikimi-create{
    display: inline-block;
    background-color: #E3E3E3;
    padding: 20px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-right: 400px;
  }

  h4 {
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="date"], input[type="number"] {
    padding: 13px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .category-reason{
    padding: 13px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .buton-aplikimi {
    padding: 10px 20px;
    background-color: #BF1A2F;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
  .button-aplikimi1{
    background-color: #161616;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
  }
  .get-aplikimet{
    width: auto ;
  }
.label-1{
  color: red;
  font-size: smaller;
}

/* .table-get-aplikimet, thead,tbody,tr{
  border: 1px solid #161616;
  border-collapse: collapse;

} */
.table-get-aplikimet thead{
  background-color: #161616;
  color: white;
  font-size: smaller;
  border-right: 3px solid white;
  
}
.table-get-aplikimet th{
  font-weight: normal;
}
/* .delete-img{
  width: 30px;
  height: 30px;
}
   */
  